<%= render 'layouts/header', title: 'Blueprints', subtitle: '' %>

<div id="new-blueprint" class="text-center">
  <%= link_to 'New Blueprint', new_blueprint_path, remote: true, class: 'button' %>
</div>

<div class="flex-container" id="blueprints">
  <% @blueprints.each do |blueprint| %>
    <%= render 'blueprints/blueprint_card', blueprint: blueprint %>
  <% end %>
</div>