
<div class="row 200%">
  <div class="12u">
    <!-- Highlight -->
    <section class="box highlight">
      <ul class="special">
        <li><a href="#" class="icon fa-search"><span class="label">Magnifier</span></a></li>
        <li><a href="#" class="icon fa-tablet"><span class="label">Tablet</span></a></li>
        <li><a href="#" class="icon fa-flask"><span class="label">Flask</span></a></li>
        <li><a href="#" class="icon fa-cog"><span class="label">Cog?</span></a></li>
      </ul>
      <header>
        <h2>Create and Share Project Blueprints</h2>
        <p>Learn new skills and build cool things</p>
      </header>

    </section>

  </div>
</div>