@import 'txt';



#nav {
  height: 4.8em;
  ul {
    height: 4.8em;
  }
}

.brand {
  display: inline-block;
  position: relative;
  height: 10px;
  width: 280px;
  img {
    position: absolute;
    top: -26px;
    left: 0;
  }
}