<!-- Banner -->
<div id="banner-wrapper">
  <section id="banner">
    <h2>Welcome to Eureka</h2>
    <p>A project sharing site for new developers</p>
    <%= link_to 'View Projects', blueprints_path, class: 'button' %>
  </section>
</div>