<!-- Footer -->
<footer id="footer" class="container">
  <div class="row 200%">
    <div class="12u">

      <!-- Contact -->
      <section>
        <h2 class="major"><span>Code by <a href="http://lawlietblack.com">Kenneth Black</a></span></h2>
        <ul class="contact">
          <li><a class="icon fa-github" href="https://github.com/LawlietBlack"><span class="label">GitHub</span></a></li>
          <li><a class="icon fa-linkedin" href="https://www.linkedin.com/in/kennethrblack/"><span class="label">LinkedIn</span></a></li>
          <li><a class="icon fa-briefcase" href="http://lawlietblack.com"><span class="label">Portfolio</span></a></li>
          <li><a class="icon fa-twitter" href="https://twitter.com/LawlietBlack"><span class="label">Twitter</span></a></li>
        </ul>
      </section>
    </div>
  </div>

  <!-- Copyright -->
  <div id="copyright">
    <ul class="menu">
      <li>Code by &copy; Kenneth Black. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>

</footer>
